.user-login {
  width: 400px;
  margin: 0 auto;
  margin-top: 8%;
}

.user-login__title {
  font-size: 35px;
  color: #9e59df;
  margin-bottom: 50px;  
  text-align: center;
}

.user-login__form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.user-login__form-control label {
  margin-bottom: 5px;
  color: #9e59df;
  font-size: 16px;
}

.user-login__form-control input {
  border-radius: 4px;
  border: 1px solid #BBBBBB;
  height: 36px;
  padding: 5px 10px;
}

.user-login__form-control input:focus {
  outline: 0;
  border-color: #9e59df;
}
.user-login__submit-button {
  width: 100%;  
  margin-top: 30px;
}
.user-login__error {
  color: red;
}

.button{
  color: #9e59df; 
  background-color: #ffffff;
  border: 1px solid #BBBBBB;
  padding: 10px;
  width: 200px;  
  text-align: center;
  margin-left: 25%;
}

.button label {
  margin-bottom: 5px;
  color: #9e59df;
  font-size: 16px;
}
.button input {
  border: 1px solid #BBBBBB;
  height: 36px;
  padding: 5px 10px;
}
.button input:focus {
  outline: 0;
  border-color: #9e59df;
}